<template>
  <div class="col-xs-12" :class="'col-md-' + col">
    <label> {{ label }}</label>
    <input type="text" class="form-control" :name="name" :placeholder="label" @input="$emit('input', $event.target.value)" :value="value">
  </div>
</template>

<script>
  export default {
    props: ['label', 'name', 'value', 'col', 'id']
  }
</script>
