<template>
  <div :class="'col-lg-' + col + ' col-md-' + col + ' col-sm-12 col-xs-12 no-pad'">
    <string-input :label="label" :name="name"></string-input>
  </div>
</template>

<style lang="sass">
  .no-pad > div
    padding-left: 0px !important
    padding-right: 0px !important
</style>

<script>
  import StringInput from './StringInput.vue'
  export default {
    props: ['label', 'name', 'col', 'id'],
    components: {
      StringInput
    }
  }
</script>
