<template>
  <div id="padding-edit" :class="'form-inline col-lg-' + col + ' col-md-' + col + ' col-sm-12 col-xs-12'">
    <div class="col-xs-12"><label>{{ label }}</label></div>
    <div class="form-group">
      <select-input :name="name" :value="options.ext" :options="countryCode" :col="' no-padding'"></select-input>
    </div>
    <div class="form-group">
      <string-input :name="name"></string-input>
    </div>
  </div>
</template>

// @input="$emit('input', $event.target.value)" :value="value"
// :name="name" :placeholder="label" @input="$emit('input', $event.target.value)" :value="value"
<script>
  export default {
    props: ['label', 'name', 'col', 'options'],
    data () {
      return {
      }
    },
    watch: {

    },
    computed: {
      countryCode: function () {
        return this.options[0].ext
      }
    }
  }
</script>

<style lang="sass">
  .no-padding
    padding-right: 0px
    padding-left: 0px

</style>
