<template>
  <div :class="'col-lg-' + col + ' col-md-' + col + ' col-sm-12 col-xs-12'">
    <label>{{ label }}</label>
    <div class="radio" v-for="(option, key) in options[0]">
      <label> <input type="radio" :key="key" :name="name" required> {{ option }}s</label>
    </div>
  </div>
</template>

// @input="$emit('change', $event.target.value)"
<script>/* eslint-disable */
  export default {
    props: ['label', 'name', 'col', 'id', 'options']
  }
</script>

<style lang="sass">
  .radio label
    display: block
    margin-bottom: 5px
</style>

