<template>
  <div :class="'col-lg-' + col + ' col-md-' + col + ' col-sm-12 col-xs-12'">
    <label>{{ label }}</label>
    <select class="form-control">
      <option v-for="(option) in options[0]" :value="option" required> {{ option }}</option>
    </select>
  </div>
</template>

<script>
  export default {
    props: ['label', 'name', 'col', 'options']
  }
</script>

