<template>
  <div :class="'col-lg-' + col + ' col-md-' + col + ' col-sm-12 col-xs-12'">
    <label>{{ label }}</label>
    <input type="text" class="form-control" :name="name" :placeholder="label" required>
  </div>
</template>

<script>
  export default {
    props: ['label', 'name', 'col', 'id']
  }
</script>

