<template>
  <div id="app" class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">JSON Form</h3>
              </div>
              <div class="panel-body">
                <form id="form">
                  <div v-for="(component, index) in formData" :key="index" class="form-group form-group-full-width">
                    <div :is="component.component + '-input'" :label="component.label" :name="component.name" :col="component.col"
                          :options="component.options" :id="index" :key="index"></div>
                  </div>
                  <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" v-on:click.prevent="sendData">Submit</button>
                  </div>
                </form>
                <div class="col-xs-12">
                  <br><br>
                  <pre>
                    {{ $data.formData }}
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import formData from './data/sample.json'

  export default {
    data () {
      return {
        formData
      }
    }
  }
</script>

<style lang="sass">
  body
    padding-top: 20px
    background: #fff
  .container
    padding-top: 0px
    background: #fff
    padding-bottom: 50px
  .form-group-full-width
    width: 100%
    display: table
  .tab-content
    padding-top: 10px
</style>
